# 文章front matter 配置
# top: 0 # 置顶文档升序排列，必填
# author: xxx  # 文章作者，非必填，默认使用配置文件中的作者
# lang: zh-CN # 文章语言，非必填，默认中文 zh-CN
# excerpt_image # 摘要配图，非必填，NO_EXCERPT_IMAGE代表没有配图
# categories： [分类1, 分类2] # 文章类别，非必填，建议填写，分类页面会自动生成，默认分隔符为：<|>（类别中不能出现此类字符）
# banner_html: <html> # 文章配图html，非必填
# comments: false # 评论功能，非必填，默认开启
# tags: [标签1, 标签2] # 文章标签，非必填，建议填写，标签页面会自动生成，默认分隔符为：<|>（标签中不能出现此类字符）
encoding: utf-8
# 系统配置
title: 清尘
email: contact@liqingchen.com
author: 清尘
copyright: "Copyright (c) {currentYear} <a href=\"https://blog.liqingchen.com\">{author}</a>"
description: >-
  李清尘的博客，主要发工作学习的内容给自己当做笔记，偶尔发发日常喜欢的音乐、电影和文字。
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://blog.liqingchen.com" # the base hostname & protocol for your site, e.g. https://example.com
favicon: "/assets/images/favicon.ico" # the favicon for your site
yat-plus:
  date_format: "%Y-%m-%d"
#debug: true
header_transparent: true
content_width: "1100px"
# 百度站点分析
baidu_analytics: "36ab4b9ea8da9e007af3150aa46657cd"
sitemap: true
lang: zh-CN
#theme_color: snowwhite
brand_color: orangered
selection:
  #  color: "#5900ff"
  color: "#2710c2"
  background_color: "#aec4ad"

# Night/Dark mode
# Default mode is "auto", "auto" is for auto nightshift
# (19:00 - 07:00), "manual" is for manual toggle, and
# "on/off" is for default on/off.
#
# Whatever the user's choice is, it will supersede the
# default setting of the site and be kept during the
# visit (session). Only the dark mode setting is"manual",
# it will be always kept on every visit (i.e. no matter
# the browser is closed or not)
#
night_mode: "auto"

# Code badge setting
# You can enable or disable the code badge and so on
# code_badge:
#   enabled: "true"
#   color: "#fff"
#   background_color: "#ff4e00"
#   text_transform: "uppercase"  # ("uppercase", "lowercase", "capitalize")

# If you want to link only specific pages in your header, uncomment
# this and add the path to the pages in order as they should show up
header_pages:
  - index.html
  - technology.html
  - daily.html
  - love-letter.html
  - tags.html
  - archives.html
  - about.md
  - search.md

# Page default value
# defaults:
#   home:
#     heading: "Your awesome heading"
#     subheading: "Your awesome subheading"
#     banner: "Your image url"

# Banner default settings
# These banner settings are for global banner default, but you can also
# config it by the front matter for one specific post
# banner:
#   video: null             # Video banner source
#   loop: true              # Video loop
#   volume: 0               # Video volume (100% is 1.0)
#   start_at: 0             # Video start time
#   image: null             # Image banner source
#   opacity: 1.0            # Banner opacity (100% is 1.0)
#   background: "rgba(0, 0, 0, 0.8)"  # Banner background (Could be a image)
#   height: "640px"         # Banner default height
#   min_height: null        # Banner minimum height
#   heading_style: null     # Custom heading style (e.g. "font-weight: bold; text-decoration: underline")
#   subheading_style: null  # Custom subheading style (e.g. color: gold)

# 文章摘要缩略图设置
excerpt:
  #  default_image: /assets/images/default-image.jpeg  # Default image when the image style is not none
  image_style: z       # Image layout style (It's value could be none, left, right, top, z, z-reverse)
  image_width: 36.2%      # Image default width
  image_height: 160px     # Image default height
  text_size: 300         # 摘录默认字数

# Pagination setting
paginate: 6

# Photo previewer settings (PhotoSwipe 5)
# the options please refer to: https://photoswipe.com/options/
# photo_previewer:
#  gallery: "section.main"
#  children: "a.photo-swipe"
#  bgOpacity: 0.8
#  padding:
#    top: 20
#    bottom: 40
#    left: 100
#    right: 100

# Click to top settings
# click_to_top:
#   light:
#     background_color: "white"
#     color: "#454545"
#   dark:
#     background_color: "#34323d"
#     color: "#bbb"

# Disqus comments
# disqus:
#   shortname: "Your Disqus username"

# Gitment comments
#gitment:
#  username: "qingchen177"
#  repo: "qingchen177.github.io"
#  client_id: "Ov23li09snksh5hkWm4c"
#  client_secret: "e2d3a610f867cf9eb601c4ed4764de84c5a42dca"
#  redirect_uri: "https://www.liqingchen.com"   # If you use a custom domain name

# Utterances comments
# See https://utteranc.es/
# set follow_site_theme true to make utterances' theme follow the site's

# utterances:
#   repo: "owner/repo"
#   issue_term: "title"
#   label: "utterances comment"
#   theme: "github-light"
#   follow_site_theme: true

# 404页面添加下面代码实现随机banner图片
#{% assign seed = "404-" | append: site.time | date: "%s" %}
#{% include extensions/geopattern.html selector=".page-banner-img" seed=seed %}

# Build settings
# highlighter: none
markdown: kramdown
kramdown:
  input: GFM

feed:
  #  categories:
  #    - 情书
  tags: true
  icon: /assets/images/favicon.ico
  logo: /assets/images/favicon.png
  posts_limit: 20


plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-spaceship
  - jekyll-target-blank
future: true
sass:
  quiet_deps: true          # 只静默来自依赖（node_modules、theme）的警告
  silence_deprecations:
    - import                # 完全屏蔽针对 @import 的弃用警告
    - global-builtin


# Where things are
jekyll-spaceship:
  # default enabled processors
  processors:
    - table-processor
    - mathjax-processor
    - plantuml-processor
    - mermaid-processor
    - polyfill-processor
    - media-processor
    - emoji-processor
    - element-processor
  mathjax-processor:
    src:
      - https://polyfill.io/v3/polyfill.min.js?features=es6
      - https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js
    config:
      tex:
        inlineMath:
          - [ '$','$' ]
          - [ '\(','\)' ]
        displayMath:
          - [ '$$','$$' ]
#          - [ '\[','\]' ]
      svg:
        fontCache: 'global'
    optimize: # optimization on building stage to check and add mathjax scripts
      enabled: true # value `false` for adding to all pages
      include: [ ]   # include patterns for math expressions checking (regexp)
      exclude: [ ]   # exclude patterns for math expressions checking (regexp)
#  plantuml-processor:
#    mode: default  # mode value 'pre-fetch' for fetching image at building stage
#    css:
#      class: plantuml
#    syntax:
#      code: 'plantuml!'
#      custom: [ '@startuml', '@enduml' ]
#    src: http://www.plantuml.com/plantuml/svg/
  mermaid-processor:
    mode: default  # mode value 'pre-fetch' for fetching image at building stage
    css:
      class: mermaid
    syntax:
      code: 'mermaid'
      custom: [ '@startmermaid', '@endmermaid' ]
    config:
      theme: default
#    src: https://mermaid.ink/svg/
    src: https://mermaid.ink/img/
#  media-processor:
#    default:
#      id: 'media-{id}'
#      class: 'media'
#      width: '100%'
#      height: 350
#      frameborder: 0
#      style: 'max-width: 600px; outline: none;'
#      allow: 'encrypted-media; picture-in-picture'
#  emoji-processor:
#    css:
#      class: emoji
#    src: https://github.githubassets.com/images/icons/emoji/
