/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: #{$base-font-size};
  font-display: swap;
  line-height: #{$base-line-height};
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  transition-duration: $base-transition-duration;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: divide($spacing-unit, 2);
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight * 1.5;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  //padding-left: divide($spacing-unit, 2);
  padding: 1.6rem;
  //letter-spacing: -1px;
  //font-style: italic;
  font-family: "PingFang SC", Helvetica, "Helvetica Neue", "Microsoft YaHei", Arial, sans-serif;
  margin: 1.6rem 0;
  @include relative-font-size(1.0);
  //font-size: 16px;
  box-sizing: border-box;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  border-left: .2rem solid #3e69d7;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  background: rgba(62, 105, 215, 0.06);
  overflow: hidden;

  > :last-child {
    margin-bottom: 0;
  }

  // 设置 blockquote 内部 p 标签的样式
  p {
    margin-bottom: 4px !important;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  color: $text-color;
}

*:not(pre) > code {
  padding: 3px 6px;
  border-radius: 3px;
  //background-color: #eee;
  color: #2f479f;
  background: rgba(62, 105, 215, 0.15);
  margin: 0 5px;
}

pre {
  overflow-x: auto;
  position: relative;
  background-color: #f0f0f0;

  // 自定义滚动条
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  > code {
    display: inline-block;
    padding: 20px!important;
    background-color: transparent;
    border: 0;
  }

  table, pre {
    margin-bottom: 0;

    .gutter, .code {
      padding: 6px;
      border: none;
    }
  }
}

.copy-btn {
  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 10;
  font-size: 12px;
  padding: 4px 8px;
  background-color: #1a2331;
  color: #ffffff;
  border: 1px solid #818181;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1); /* 增加立体感 */
}

.copy-btn:hover {
  background-color: rgba(33, 44, 72, 0.15);
}



/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Tables
 */
table {
  display: block;
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 5%);
  border-collapse: collapse;
  overflow: auto;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }

  th, td {
    padding: divide($spacing-unit, 3) divide($spacing-unit, 2);
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

/*kbd*/
kbd {
  display: inline-block;
  padding: 4px 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #333;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #ccc;
  margin: 2px;
}


/**
 * Flex layout
 */
%flex {
  display: flex;
}

%flex-1 {
  flex: 1;
  min-width: 0; /* <-- fix flexbox width with pre tags  */
}

/**
 * Flex sticky
 */
@mixin flex-sticky($top) {
  position: sticky;
  position: -moz-sticky; /* <-- fix sticky compatibility issue */
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  align-self: flex-start; /* <-- fix the sticky not work issue */
  transform: scale(0.9999); /* <-- fix the sticky x overflow issue */
  top: $top;
}

/**
 * Vertical center
 */
@mixin vertical-center($position) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

/**
 * Horizontal center
 */
@mixin horizontal-center($position) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

/**
 * Center background image
 */
@mixin center-image {
  height: 100%;
  max-width: 1000%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/**
 * Text Selection
 */
::selection {
  color: $selection-color;
  background-color: $selection-background-color;
}
::-moz-selection { /* Code for Firefox */
  color: $selection-color;
  background-color: $selection-background-color;
}
::-ms-selection {
  color: $selection-color;
  background-color: $selection-background-color;
}
::-o-selection {
  color: $selection-color;
  background-color: $selection-background-color;
}
::-webkit-selection {
  color: $selection-color;
  background-color: $selection-background-color;
}
