{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

{%- if include.show_all != nil -%}
  {%- assign show_all_str = include.show_all | downcase | strip -%}
  {%- if show_all_str == 'true' or show_all_str == '1' -%}
    {%- assign show_all = true -%}
  {%- else -%}
    {%- assign show_all = false -%}
  {%- endif -%}
{%- else -%}
  {%- assign sidebar_items = page.sidebar -%}
  {%- assign show_all = true -%}
  {%- if sidebar_items and sidebar_items.size > 1 -%}
    {%- assign show_all = false -%}
  {%- endif -%}
{%- endif -%}

{%- if include.show_love != nil -%}
  {%- assign show_love_str = include.show_love | downcase | strip -%}
  {%- if show_love_str == 'true' or show_love_str == '1' -%}
    {%- assign show_love = true -%}
  {%- else -%}
    {%- assign show_love = false -%}
  {%- endif -%}
{%- else -%}
  {%- assign show_love = false -%}
{%- endif -%}

{%- if include.show_daily != nil -%}
  {%- assign show_daily_str = include.show_daily | downcase | strip -%}
  {%- if show_daily_str == 'true' or show_daily_str == '1' -%}
    {%- assign show_daily = true -%}
  {%- else -%}
    {%- assign show_daily = false -%}
  {%- endif -%}
{%- else -%}
  {%- assign show_daily = false -%}
{%- endif -%}

{%- if include.show_tech != nil -%}
  {%- assign show_tech_str = include.show_tech | downcase | strip -%}
  {%- if show_tech_str == 'true' or show_tech_str == '1' -%}
    {%- assign show_tech = true -%}
  {%- else -%}
    {%- assign show_tech = false -%}
  {%- endif -%}
{%- else -%}
  {%- assign show_tech = false -%}
{%- endif -%}


<div class="common-list">
  <ul>
    {% if show_all %}
      <li>
        <a href="{{ '/index.html' | relative_url }}">
          全部文章<span>{{ site.posts.size }}</span>
        </a>
      </li>
    {% endif %}

    {% if show_love %}
      <li>
        <a href="{{ '/love-letter.html' | relative_url }}">
          情话盲盒<span>🤍</span>
        </a>
      </li>
    {% endif %}

    {% if show_daily %}
      <li>
        <a href="{{ '/daily.html' | relative_url }}">
          日常分享<span>☀️</span>
        </a>
      </li>
    {% endif %}

    {% if show_tech %}
      <li>
        <a href="{{ '/technology.html' | relative_url }}">
          技术分类<span>👨🏻‍💻️</span>
        </a>
      </li>
    {% endif %}

    {% for key in keys %}
      <li>
        <a href="{{ url }}#h-{{ key | slugify }}">
          {{ key }} {%- assign posts_source = include.posts | default: site.posts -%}<span>{{ posts_source | where: field, key | size }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
