{% assign daily_categories = site.data.daily-categories.categories %}

{% assign daily_posts = "" | split: "" %}
{% for post in site.posts %}
  {% for cat in post.categories %}
    {% if daily_categories contains cat %}
      {% assign daily_posts = daily_posts | push: post %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign keys = "" | split: "" %}
{% for post in daily_posts %}
  {% for cat in post.categories %}
    {% if daily_categories contains cat %}
      {% if keys contains cat %}
        {% continue %}
      {% else %}
        {% assign keys = keys | push: cat %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}


{% assign keys = keys %}
{% assign field = 'categories' %}
{% assign url = '/daily.html' | relative_url %}
{% assign posts = daily_posts %}
{%- include sidebar/common-list.html show_all = '0' -%}
