{% assign split_mark = '<|>' %}
{% assign excluded_daily = site.data.daily-categories.categories %}
{% assign excluded_love = site.data.love-letter-categories.categories %}
{% assign excluded = excluded_daily | concat: excluded_love %}


{% assign categories = '' %}
{% for category in site.categories %}
  {% assign name = category | first %}
  {% unless excluded contains name %}
    {% assign categories = categories | append: split_mark | append: name %}
  {% endunless %}
{% endfor %}

{% assign return = categories
  | remove_first: split_mark
  | split: split_mark
  | sort: self %}

